pandas>=2.0.0
numpy>=1.24.0
ccxt>=4.1.13
matplotlib>=3.7.1
mplfinance>=0.12.10b0
ta>=0.11.0
python-dateutil>=2.8.2
pytz>=2023.3
requests>=2.31.0
websockets>=11.0.3
seaborn>=0.13.0
streamlit>=1.42.1
python-dotenv>=1.0.1